.likedtext{
   font-family:"Fantasy",sans-serif;
   color:blue;
   background:linear-gradient(yellow, red);
}
.likedtexts{
   font-family:"Fantasy",sans-serif;
   color:blue;
   background-color: red;
}
.likedtext1{
   font-family:"Fantasy",sans-serif;
   color:blue;
  background:linear-gradient(yellow, red);
}
.likedtext2{
   font-family:"Fantasy",sans-serif;
   color:blue;
   background:linear-gradient(yellow, red);
}
